/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as errors from "../models/errors/index.js";
import * as operations from "../models/operations/index.js";
import { APIPromise } from "../types/async.js";
/**
 * Reject Transfer
 *
 * @remarks
 * Reject one side (incoming/outgoing) of an internal Ascend transfer. Rejecting one side automatically moves the contra side of the transfer to be rejected as well.
 */
export function accountTransfersRejectTransfer(client, rejectTransferRequestCreate, correspondentId, accountId, transferId, options) {
    return new APIPromise($do(client, rejectTransferRequestCreate, correspondentId, accountId, transferId, options));
}
async function $do(client, rejectTransferRequestCreate, correspondentId, accountId, transferId, options) {
    const input = {
        rejectTransferRequestCreate: rejectTransferRequestCreate,
        correspondentId: correspondentId,
        accountId: accountId,
        transferId: transferId,
    };
    const parsed = safeParse(input, (value) => operations.AccountTransfersRejectTransferRequest$outboundSchema.parse(value), "Input validation failed");
    if (!parsed.ok) {
        return [parsed, { status: "invalid" }];
    }
    const payload = parsed.value;
    const body = encodeJSON("body", payload.RejectTransferRequestCreate, {
        explode: true,
    });
    const pathParams = {
        account_id: encodeSimple("account_id", payload.account_id, {
            explode: false,
            charEncoding: "percent",
        }),
        correspondent_id: encodeSimple("correspondent_id", payload.correspondent_id, { explode: false, charEncoding: "percent" }),
        transfer_id: encodeSimple("transfer_id", payload.transfer_id, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path = pathToFunc("/acats/v1/correspondents/{correspondent_id}/accounts/{account_id}/transfers/{transfer_id}:reject")(pathParams);
    const headers = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client._options,
        baseURL: options?.serverURL ?? client._baseURL ?? "",
        operationID: "AccountTransfers_RejectTransfer",
        oAuth2Scopes: [],
        resolvedSecurity: requestSecurity,
        securitySource: client._options.security,
        retryConfig: options?.retries
            || client._options.retryConfig
            || {
                strategy: "backoff",
                backoff: {
                    initialInterval: 500,
                    maxInterval: 5000,
                    exponent: 1.5,
                    maxElapsedTime: 15000,
                },
                retryConnectionErrors: true,
            }
            || { strategy: "none" },
        retryCodes: options?.retryCodes || ["4XX", "5XX"],
    };
    const requestRes = client._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path,
        headers: headers,
        body: body,
        userAgent: client._options.userAgent,
        timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req = requestRes.value;
    const doResult = await client._do(req, {
        context,
        errorCodes: ["400", "403", "4XX", "500", "503", "5XX"],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req }];
    }
    const response = doResult.value;
    const responseFields = {
        HttpMeta: { Response: response, Request: req },
    };
    const [result] = await M.match(M.json(200, operations.AccountTransfersRejectTransferResponse$inboundSchema, { key: "RejectTransferResponse" }), M.jsonErr([400, 403], errors.Status$inboundSchema), M.jsonErr([500, 503], errors.Status$inboundSchema), M.fail("4XX"), M.fail("5XX"), M.json("default", operations.AccountTransfersRejectTransferResponse$inboundSchema, { key: "Status" }))(response, req, { extraFields: responseFields });
    if (!result.ok) {
        return [result, { status: "complete", request: req, response }];
    }
    return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=accountTransfersRejectTransfer.js.map