/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as errors from "../models/errors/index.js";
import * as operations from "../models/operations/index.js";
import { APIPromise } from "../types/async.js";
/**
 * List Correspondent Orders
 *
 * @remarks
 * Lists orders matching the specified filter criteria. Results are paginated and sorted in the reverse order of their creation.
 */
export function ordersListCorrespondentOrders(client, correspondentId, filter, pageSize, pageToken, options) {
    return new APIPromise($do(client, correspondentId, filter, pageSize, pageToken, options));
}
async function $do(client, correspondentId, filter, pageSize, pageToken, options) {
    const input = {
        correspondentId: correspondentId,
        filter: filter,
        pageSize: pageSize,
        pageToken: pageToken,
    };
    const parsed = safeParse(input, (value) => operations.OrderServiceListCorrespondentOrdersRequest$outboundSchema
        .parse(value), "Input validation failed");
    if (!parsed.ok) {
        return [parsed, { status: "invalid" }];
    }
    const payload = parsed.value;
    const body = null;
    const pathParams = {
        correspondent_id: encodeSimple("correspondent_id", payload.correspondent_id, { explode: false, charEncoding: "percent" }),
    };
    const path = pathToFunc("/trading/v1/correspondents/{correspondent_id}/orders")(pathParams);
    const query = encodeFormQuery({
        "filter": payload.filter,
        "page_size": payload.page_size,
        "page_token": payload.page_token,
    });
    const headers = new Headers(compactMap({
        Accept: "application/json",
    }));
    const securityInput = await extractSecurity(client._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client._options,
        baseURL: options?.serverURL ?? client._baseURL ?? "",
        operationID: "OrderService_ListCorrespondentOrders",
        oAuth2Scopes: [],
        resolvedSecurity: requestSecurity,
        securitySource: client._options.security,
        retryConfig: options?.retries
            || client._options.retryConfig
            || {
                strategy: "backoff",
                backoff: {
                    initialInterval: 500,
                    maxInterval: 5000,
                    exponent: 1.5,
                    maxElapsedTime: 15000,
                },
                retryConnectionErrors: true,
            }
            || { strategy: "none" },
        retryCodes: options?.retryCodes || ["4XX", "5XX"],
    };
    const requestRes = client._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path,
        headers: headers,
        query: query,
        body: body,
        userAgent: client._options.userAgent,
        timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req = requestRes.value;
    const doResult = await client._do(req, {
        context,
        errorCodes: ["400", "401", "403", "4XX", "500", "503", "5XX"],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req }];
    }
    const response = doResult.value;
    const responseFields = {
        HttpMeta: { Response: response, Request: req },
    };
    const [result] = await M.match(M.json(200, operations.OrderServiceListCorrespondentOrdersResponse$inboundSchema, { key: "ListCorrespondentOrdersResponse" }), M.jsonErr([400, 401, 403], errors.Status$inboundSchema), M.jsonErr([500, 503], errors.Status$inboundSchema), M.fail("4XX"), M.fail("5XX"), M.json("default", operations.OrderServiceListCorrespondentOrdersResponse$inboundSchema, { key: "Status" }))(response, req, { extraFields: responseFields });
    if (!result.ok) {
        return [result, { status: "complete", request: req, response }];
    }
    return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=ordersListCorrespondentOrders.js.map